Personal Appointment Booking.json
{
  "name": "Personal Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        496,
        672
      ],
      "id": "0a8c78ae-5615-404e-b09c-e1f819cef8e5",
      "name": "Webhook",
      "webhookId": "6e9d32dc-f5ad-4101-9512-c1adb5b455d1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1200,
        672
      ],
      "id": "b79f15d6-a3f9-4b40-8b11-07f2615d7af9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v1/slots",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startTime",
              "value": "={{ $json.body.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{DateTime.fromISO($json.body.startTime, { zone: 'Asia/Kolkata' })\n  .set({ hour: 18, minute: 0, second: 0 })\n.format(\"yyyy-MM-dd'T'HH:mm:ssZZ\")}}"
            },
            {
              "name": "eventTypeId",
              "value": "event_type_id"
            },
            {
              "name": "timeZone",
              "value": "Asia/Kolkata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        576
      ],
      "id": "92a85d6e-b721-4e03-acc2-91d44b08f6a6",
      "name": "Check available slot in Cal.com"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": event_type_id,\n  \"start\": \"{{ $json.body.startTime }}\",\n  \"end\": \"{{ DateTime.fromISO($json.body.startTime).plus({ minutes: 30 }).format(\"yyyy-MM-dd'T'HH:mm:ssZZ\") }}\",\n  \"responses\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email\": \"{{ $json.body.email }}\"\n  },\n  \"timeZone\": \"Asia/Kolkata\",\n  \"language\": \"en\",\n  \"title\": \"Test\",\n\"metadata\":{}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        768
      ],
      "id": "57b3c72f-fc5d-426c-9fd5-37feee361f0e",
      "name": "Book an Appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "249d32bd-5a1d-44fe-8b33-975827cef795",
              "leftValue": "={{ $json.body.tool }}",
              "rightValue": "checkAvailableSlot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        672
      ],
      "id": "e6f8eda7-0c99-4e55-9698-255bee4b3852",
      "name": "Check Is Request For Available Slot"
    },
    {
      "parameters": {
        "content": "## Cal.com  Setup\n\n- Go to cal.com and generate an API Key.\n- Create new Cal API credentials in n8n.\n- Set this API Key in the credentials.",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        1008
      ],
      "typeVersion": 1,
      "id": "82b5e3dd-a3f1-4395-af70-07ffbbb9be21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Tool Setup \n\n1. Name: bookSlot\n#### Description:\n- Use this tool when the user confirms their slot and appointment. When you have the proper name and email of theirs. \n\n#### POST: webhook_url\n\n2. Name: checkAvailableSlot\n#### Description:\n- Use this slot to check Available slots in our calendar.\n\n#### POST: webhook_url",
        "height": 380,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        96
      ],
      "typeVersion": 1,
      "id": "33e84854-7b9a-4104-8215-1c6b87049442",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ElevenLabs Setup\n\n### First Message:\n- Thanks for calling InfyOm Technologies. How can I help you?\n\n### Use the following System Prompt:\n\n#### 1. Personality\nYou are a clear, helpful, and respectful assistant focused solely on **booking appointments** for clients.\n- **Identity**: A virtual appointment scheduler.\n- **Core Traits**: Polite, efficient, conversational, respectful.\n- **Role**: Guide users through choosing a time, checking availability, and finalizing the booking.\n\n#### 2. Tone\nYour tone is polite, professional, and engaging—friendly enough to feel human, but focused enough to stay on task.\n- Use conversational cues like “Okay,” “Got it,” “Sounds good,” etc.  \n- Maintain a warm but efficient pace.  \n- Speak clearly and respectfully at all times.  \nEnsure the conversation is on both topics.\n#### 3. Goal\nYour task is to **book an appointment** for the client.\n#### Step-by-step Conversation Flow\n1. **Greeting & Purpose**\n   - Greet politely and state the purpose.\n   - Example: “Hi! I’m here to help you book an appointment.”\n2. **Request Preferred Time**\n   - Ask: “Can you please tell me your preferred time slot for the appointment?”\n   - Understand the user's date, and if it is not clear, then ask for the full date with month and year.\n3. **Check Availability**\n   - Use the `checkAvailableSlot` tool with the user’s preferred time.\n   - If the slot **is available**:\n     - Confirm with the user: “That slot is available. Should I go ahead and book it for you?”\n     - If the user agrees, → Use `bookSlot`.\n   - If the slot **is not available**:\n     - Say: “It looks like that time isn’t available... Would you like to look for the same time on the next day?”\n4. **Handle Next-Day Option**\n   - If the user agrees, check availability for the same time on the next day using `checkAvailableSlot`.\n     - If available, → confirm and use `bookSlot`.\n     - If not, → politely inform and ask for a different time.\n\n5. **Close the Call**\n   - Confirm the booking if done.\n   - Example: “Great! Your appointment is booked. Thank you and have a wonderful day!”\n#### 4. Guardrails\n- **Do not** discuss anything unrelated to appointment booking.\n- If the user asks for something outside your scope:\n  - Say: “I’m only here to help with appointment bookings. For other questions, please contact our support team.”\n- Never speculate about unavailable data or functions.\n- Never ask for a date format from the User, like Say date in Day Month and Year format. If you can't understand the user's date, then say Please speak the full date.\n\n#### 5. Tools\nYou can use the following tools to help book appointments:\n- `checkAvailableSlot`: Use this to check if the user’s requested time is open.\n- `bookSlot`: Use this to confirm the appointment after the user agrees.\n\n#### End call\n- Always says Thanks for reaching out to us. Have a nice day.",
        "height": 1480,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        64
      ],
      "typeVersion": 1,
      "id": "8e29fe0c-f7ed-40c2-a882-da58405383ae",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Is Request For Available Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check available slot in Cal.com": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book an Appointment": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Request For Available Slot": {
      "main": [
        [
          {
            "node": "Check available slot in Cal.com",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Book an Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17e51233-3afb-4a6a-926e-802c05202269",
  "meta": {
    "instanceId": "9272721148ea09184b6bbb7ce6219dab088562dd450e2df8280d57c2e34c7d84"
  },
  "id": "tadaxi8HuWXv0518",
  "tags": []
}